.n-popup {
	.dialog_content {
		overflow: auto;
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background-color: #b3b3b333;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #979d9e36;
			border-radius: 5px;
		}
	}
}
